<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
        <title>About Cats</title>
        <!-- CSS -->
        <link rel = "stylesheet" href="{% static "css/base.css" %}" />
    </head>

    <body>
        <h1>This tutorial has been put together by Sadita Ahmed </h1>
        <div>
            <!-- Image -->
            <a href="/rango/index/">Index</a>
        </div>

        <div>
            <img src="{{ MEDIA_URL }}images/cat.jpg"
                 alt="Picture of Media Cat" />
        </div>
    </body>

</html>