<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
        <title>About Cats</title>
        <!-- CSS -->
        <link rel = "stylesheet" href="{% static "css/base.css" %}" />
    </head>

    <body>
        <h1>Rango says here is the about page. </h1>
        <div>
            <!-- Image -->
            <a href="/rango/index/">Index</a>
        </div>

        <div>
            <img src="{% static "images/staticat.jpg" %}"
                 alt="Picture of Static Rango" />
            <img src="{{ MEDIA_URL }}cat.jpg"
                 alt="Picture of Media Cat" />
        </div>
    </body>

</html>