{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Cats
{% endblock %}

{% block body_block %}
        <h1>Rango says here is the about page</h1>

        <p><strong>visits: {{visits}}</strong></p>

        <div class="space-topbottom">
            This tutorial has been put together by Sadita Ahmed
        </div>
        <div>
            <img src="{% static "images/staticat.jpg" %}"
                 alt="Picture of Static Cat" />
            <img src="{{ MEDIA_URL }}cat.jpg"
                 alt="Picture of Media Cat" />
        </div>
{% endblock %}